body {
  margin: 0;
  font-family: 'HurmeGeometric', 'HurmeGeometricBold', "Vanillate", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "HurmeGeometric";
  src: local("HurmeGeometric"),
    url("./fonts/HurmeGeometric/HurmeGeometricSans3-Regular.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "HurmeGeometricBold";
  src: local("HurmeGeometricBold"),
    url("./fonts/HurmeGeometric/HurmeGeometricSans3-SemiBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Vanillate";
  src: local("Vanillate"),
    url("./fonts/Vanillate/Vanillate.ttf") format("truetype");
  font-weight: bold;
}

.my-company-font{
  font-family: "Vanillate";
}

.my-bold{
  font-family: "HurmeGeometricBold";
}

.variant-circle {
  height: 30px;
  width: 30px;
  background-color: black;
}

.custom-selected {
  border: 3px solid #749cec !important
}

#navbar {
  /* position: fixed; */
  height: 4rem;
  width: 100%;
  z-index: 1234;
  background-color: #5e6871 !important;
}

.my-text-font {
  font-size: medium;
}

.my-text-font-small {
  font-size: smaller;
}

.my-btn {
  background-color: #444f5a !important; 
  /* background-color: #2e353d;  */
  color: whitesmoke !important;
  border-color: #444f5a !important;
}

.my-btn-translucent{
  background-color: rgba(68,79,90,0.8) !important;
  border: none !important;
}

.custom-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link {
  color: whitesmoke !important;
}

.navbar-brand {
  color: whitesmoke !important;
}

/* cart */
#cart-logo-container{
  position: relative
}

#cart-counter{
  position: fixed;
  top: 8px;
  margin-left: 20px;
}

/* #basic-navbar-nav {
  background-color: red !important;
} */
.navbar-collapse{
  background-color: #5e6871 !important;
}

.dropdown-menu{
  --bs-dropdown-link-active-bg: #9b9b9b;
}

#landing {
  height: 100vh;
  background-image: url('./images/home-wallpaper.jpeg');
  background-position: right;
  background-size: cover;
  position: relative
}

.landing-links {
  width: 300px;
  height: 50px;
  border: 3px solid red
}

.links-container {
  position: relative;
  top: 50%;
  left: 50%
}

#searchPage {
 position: relative;
 min-height: 100vh;
}

#search-fields{
  position: sticky;
  position: -webkit-sticky;
}



.buffer-top {
  height: 75px;
  width: 10px;
}

.errorMessage {
  color: red;
  font-size: x-small;
  font-style: italic;
  height: 1px;
}

#cart {
  z-index: 2344;
  max-height: 90vh;
  max-width: 100vh;
}


.product-image {
  width: 100%
}

#footer{
  height: fit-content;
  width:100%;
  background-color: #5e6871;
  color: whitesmoke;
}


.call-to-action{
  max-width: 80vw; 
}


@media screen and (width > 768px) {
  .product-image {
    width: 80%;
  }

}

@media screen and (width > 990px) {
  #nav-container {
    width: 100%
  }

  #search {
    /* height: 100vh; */
    margin-top: -25px;
    /* width: 100%; */
    /* background-color: black; */
    /* overflow: scroll; */
  }

  #nav-left {
    display: flex
  }

  #nav-right {
    display: flex;
    margin-inline-start: auto;
    /* margin-inline-end: 1rem; */
  }

  .product-image {
    width: 80%;
  }

}